/* General body styles, */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  animation: backgroundAnimation 30s ease infinite;
}

.form-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-3d {
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.input-3d:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

.btn-3d {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn-3d:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn-3d:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}


/* Table styles */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #333;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #8daed0;
}
/* General sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #e2e1eb;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding-top: 1rem;
}

.sidebar-sticky {
  height: 60px; /* Adjust as needed */
}

.sidebar .nav-link {
  padding: 10px 20px;
  color: #333;
  font-weight: 500;
  transition: color 0.3s, background-color 0.3s;
}

.sidebar .nav-link:hover {
  color: #555;
  background-color: #f8f9fa;
}

.sidebar .nav-link.active {
  background-color: #007bff;
  color: #fff;
}

@media (max-width: 992px) {
  .sidebar {
    width: 60px;
  }

  .sidebar .nav-link {
    padding: 10px;
    text-align: center;
  }

  .sidebar .nav-link span {
    display: none;
  }
}
/* General body styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  animation: backgroundAnimation 30s ease infinite;
}

.form-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-3d {
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.input-3d:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

.btn-3d {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn-3d:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn-3d:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

/* Table styles */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #333;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #8daed0;
}

/* General sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #e2e1eb;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding-top: 1rem;
}

.sidebar-sticky {
  height: 30px; /* Adjust as needed */

}


.sidebar .nav-link {
  padding: 10px 20px;
  color: #333;
  font-weight: 500;
  transition: color 0.3s, background-color 0.3s;
}

.sidebar .nav-link:hover {
  color: #555;
  background-color: #f8f9fa;
}

.sidebar .nav-link.active {
  background-color: #007bff;
  color: #fff;
}

@media (max-width: 992px) {
  .sidebar {
    width: 60px;
  }

  .sidebar .nav-link {
    padding: 10px;
    text-align: center;
  }

  .sidebar .nav-link span {
    display: none;
  }
}

